/****** Sprite *****/
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.alcalde-chilca {
    width: 243px;
    height: 270px;
    background-position: -5px -5px;
}

.alejandra-aramayo {
    width: 312px;
    height: 165px;
    background-position: -258px -5px;
}

.anuncio {
    width: 310px;
    height: 86px;
    background-position: -258px -180px;
}

.corea-del-norte {
    width: 312px;
    height: 165px;
    background-position: -258px -276px;
}

.logo {
    width: 281px;
    height: 49px;
    background-position: -5px -451px;
}

.odebrecht {
    width: 425px;
    height: 250px;
    background-position: -580px -5px;
}

.hombre {
    width: 53px;
    height: 84px;
    background-position: -580px -265px;
}

body {
  margin: 0;
  color: #ffffff;
  background-color: #EBEBEB;
}

.encabezado {
  background-color: #E00109;
}

.logo, .redes-sociales, .search {
  display: inline-block;
}

.redes-sociales {

}

.redes-sociales ul li {
  background-color: #ffffff;
  color: #E00109;
  list-style-type: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;

}

.redes-sociales ul li span {
  position: relative;
  top: 7px;
}

.search {
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 5px;
}

#subtitulos ul{
  background-color: #5c5c66;
  margin: 0;

}

#subtitulos ul li {
  background-color: #4d4d59;
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding: 5px;
}

.all {
  width: 1000px;
  margin: 0px 220px;
  display: inline-flex;
}

#sec-principal {
  width: 70%;
  }
  
.noticia {
  background-color: #333340;

}

h2, .icon-gris {
  display: inline-block;
}

h2 {
  width: 50%;
}
